In [210]:
import numpy as np
import pandas as pd
import re

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [211]:
file_location = '/Users/jonathan/Google Drive/Data Science/Projects/Dam Levels/data/Dam-levels-update-2012-2017_20171212.csv'
data = pd.read_csv(file_location, header = [2,3,4], encoding = 'latin-1')

header_0 = [h[0] for h in data.columns[1:]]
header_1 = [h[1] for h in data.columns[1:]]
header_2 = [h[2] for h in data.columns[1:]]

for idx, h in enumerate(header_0):
    if re.search(r'^Unnamed', h) is not None:
        header_0[idx] = header_0[idx - 1]

header_0 = [h.title() for h in header_0]
header_1 = [h.lower() for h in header_1]
header_2 = [h.lower() for h in header_2]

col_names = ['date']
col_names = col_names + list(map('_'.join, zip(header_0, header_1, header_2)))

data.columns = pd.Index(col_names)
data = data.drop([col for col in data.columns if re.match(r'^Total Stored', col)], axis = 1)

data['date'] = pd.to_datetime(data['date'])

In [212]:
data.shape
data['date'].min()
data['date'].max()
data.tail(20)

(2182, 57)

Timestamp('2012-01-01 00:00:00')

Timestamp('2021-05-22 00:00:00')

,date,Wemmershoek_height_(m),Wemmershoek_storage_(ml),Wemmershoek_current_%,Wemmershoek_last year_%,Steenbras Lower_height_(m),Steenbras Lower_storage_(ml),Steenbras Lower_current_%,Steenbras Lower_last year_%,Steenbras Upper_height_(m),...,Theewaterskloof_current_%,Theewaterskloof_last year_%,Berg River_height_(m),Berg River_storage_(ml),Berg River_current_%,Berg River_last year_%,Land-En Zeezicht_height_(m),Land-En Zeezicht_storage_(ml),Land-En Zeezicht_current_%,Land-En Zeezicht_last year_%
2162,2017-12-02,41.68,30110,51.343701,51.613123,18.45,18334,54.700600,48.942328,25.01,...,22.918940,46.031971,32.92,84600,65.071918,66.833321,8.0,473.149,104.9110865,NaN
2163,2017-12-03,41.70,30149,51.410204,51.309597,18.39,18182,54.247098,48.366501,25.01,...,22.804610,46.031971,32.87,84370,64.895008,66.617952,8.0,473.149,104.9110865,NaN
2164,2017-12-04,41.73,30208,51.510811,50.975377,18.38,18157,54.172509,48.151684,25.02,...,22.539714,46.031971,32.85,84280,64.825783,66.333359,8.0,473.149,104.9110865,NaN
2165,2017-12-05,41.74,30228,51.544915,50.637746,18.38,18157,54.172509,47.936868,25.03,...,22.352079,45.392013,32.80,84060,64.656565,66.479502,8.0,473.149,104.9110865,NaN
2166,2017-12-06,41.75,30248,51.579019,50.274538,18.34,18056,53.871170,47.289435,24.94,...,22.165693,45.264980,32.75,83830,64.479655,65.771864,8.0,473.149,104.9110865,NaN
2167,2017-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2168,2017-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2169,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2170,2017-12-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2171,2017-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2172,2017-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2173,2017-12-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2174,2017-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2175,2017-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,2017-12-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2177,2017-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,2017-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,2017-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2180,2017-12-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,2017-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
data = data[:2167]

In [215]:
bad_date_idx = data.loc[data['date'] > '2017-12-12'].index
max_bad_idx = max(bad_date_idx)
min_bad_idx = min(bad_date_idx)

print('The dates seem fine here...')
data.iloc[min_bad_idx-20:min_bad_idx]['date'].tolist()  
print('...The problem seems to start here...')
data.iloc[min_bad_idx:max_bad_idx+1]['date'].tolist()
print('...The problem seems to end there. Let\'s see the next few rows...')
data.loc[max_bad_idx+1:max_bad_idx+10]['date'].tolist()

The dates seem fine here...

[Timestamp('2017-04-29 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-01-05 00:00:00'),
 Timestamp('2017-02-05 00:00:00'),
 Timestamp('2017-03-05 00:00:00'),
 Timestamp('2017-04-05 00:00:00'),
 Timestamp('2017-05-05 00:00:00'),
 Timestamp('2017-06-05 00:00:00'),
 Timestamp('2017-07-05 00:00:00'),
 Timestamp('2017-08-08 00:00:00'),
 Timestamp('2017-09-05 00:00:00'),
 Timestamp('2017-10-05 00:00:00'),
 Timestamp('2017-11-05 00:00:00'),
 Timestamp('2017-12-05 00:00:00'),
 Timestamp('2017-05-13 00:00:00'),
 Timestamp('2017-05-14 00:00:00'),
 Timestamp('2017-05-15 00:00:00'),
 Timestamp('2017-05-16 00:00:00'),
 Timestamp('2017-05-17 00:00:00'),
 Timestamp('2017-05-18 00:00:00')]

...The problem seems to start here...

[Timestamp('2018-05-19 00:00:00'),
 Timestamp('2019-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2021-05-22 00:00:00')]

...The problem seems to end there. Let's see the next few rows...

[Timestamp('2017-05-23 00:00:00'),
 Timestamp('2017-05-24 00:00:00'),
 Timestamp('2017-05-25 00:00:00'),
 Timestamp('2017-05-26 00:00:00'),
 Timestamp('2017-05-27 00:00:00'),
 Timestamp('2017-05-28 00:00:00'),
 Timestamp('2017-05-29 00:00:00'),
 Timestamp('2017-05-30 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-01 00:00:00')]

In [218]:
(datetime.datetime(year = 2017, month = 12, day = 6) - data['date'].min()).days + 1
data.shape[0]

2167

2167

In [219]:
for idx, d in data['date'].iteritems():
    if idx > 0:
        data.iloc[idx, 0] = data.iloc[idx - 1, 0] + datetime.timedelta(days = 1)

In [220]:
data['date'].min()
data['date'].max()

Timestamp('2012-01-01 00:00:00')

Timestamp('2017-12-06 00:00:00')

In [221]:
dam_names = set(header_0)
dam_names = [d.title() for d in dam_names if not d.startswith('Total Stored')]

cols = data.columns.tolist()[1:]
dates = data['date']

dam_levels = pd.DataFrame()
for dam in dam_names:
    next_dam = pd.DataFrame({'date': dates,
                            'dam_name': dam})
    for col in cols:
        if re.search(dam, col):
            measure = re.sub(dam+'_', '', col)
            next_dam[measure] = data[col].replace(' ', '', regex = True).replace('#VALUE!', np.nan, regex = True)
            next_dam[measure] = next_dam[measure].astype(float)    
    dam_levels = pd.concat([dam_levels, next_dam], axis = 0)

dam_names = [dam.lower() for dam in dam_names]

In [225]:
dam_levels = dam_levels.rename(columns = {'height_(m)': 'height_m', 
                            'storage_(ml)': 'storage_ml',
                            'last year (%)': 'lastyear_%'})

In [226]:
dam_levels.head()

    dam_name       date  height_m  storage_ml  current_%  last year_%
0  Lewis Gay 2012-01-01      13.9       128.3       76.4          NaN
1  Lewis Gay 2012-01-02      13.9       128.3       76.4          NaN
2  Lewis Gay 2012-01-03      13.9       128.3       76.4          NaN
3  Lewis Gay 2012-01-04      13.9       128.3       76.4          NaN
4  Lewis Gay 2012-01-05      13.9       128.3       76.4          NaN

In [236]:
dam_levels.to_csv('/Users/jonathan/Google Drive/Data Science/Projects/Dam Levels/data/Dam-levels-clean-20120101-20171206.csv',
                 index = False)